/* Brand colors */
$sq-blue: #0071c4;

/* Global element colors */
$border-color: #aaa;

/* Header background color */
$header-bg: rgba(238, 238, 238, 0.8);

/* Primary nav colors */
$navbar-link-color: #555;
$navbar-brand-color: $sq-blue;

/* Hero colors */
$hero-copy: #eee;
$hero-cta-bg: #eee;
$hero-cta-hover-bg: #ccc;

/* BS overrides */

$primary: $sq-blue;
